<script src="https://unpkg.com/blockly/blockly.min.js"></script>
<script>javascriptGenerator = javascript.javascriptGenerator</script>
<script src="/publicAssets/blockly-init.js"></script>
<script src="/publicAssets/JS-Interpreter/interpreter.js"></script>
<script src="/publicAssets/JS-Interpreter/acorn.js"></script>
<script defer src="<%= @preseed %>"></script>
<script defer src="<%= @seed %>"></script>
<script defer src="<%= @postseed %>"></script>

<script>window["heat-path"]="<%= heat_path(params[:heat_slug]) %>"</script>

<%= form_with url: heat_question_save_submission_path(:question_question_number => @question.question_number ), id: "submission-form", method: :post do |form| %>
<% end %>



<div class="blockly-env-wrapper">

     <div class="blockly-editor-wrapper" id="blocklyDiv">
     </div>
     <div class="canvas-wrapper" id="canvasDiv">
     </div>

</div>
