<h1><%= @heat.contest.name %> &mdash; <%= @heat.level.name %></h1>
<h2><%= @heat.name %>
<% if (((@heat.start_time.to_datetime + @heat.level.duration*1.minute) - Time.now.to_datetime)  * 24 * 60 ).to_i < 1 %>
      | This heat has ended.
<% else %>
      | <%= (((@heat.start_time.to_datetime + @heat.level.duration*1.minute) - Time.now.to_datetime)  * 24 * 60 ).to_i %> minutes left
<% end %>



</h2>

<p><%= @heat.contest.about %></p>
<p><%= link_to "Leaderboard", heat_leaderboard_path(:heat_slug => @heat.slug) %></p>

<table>
     <thead>
          <tr>
               <th>No.</th>
               <th>Question</th>
               <th>Max. score</th>
               <th>Status</th>
          </tr>
     </thead>
     <tbody>
          <% @heat.level.questions.each do |q| %>
               <tr>
                    <td><%= q.question_number %></td>
                    <td class="question-title"><%= q.title %></td>
                    <td><%= q.score %></td>
                    <td>

                         <% if Submission.find_by(
                                   :question_id => Question.find_by(
                                        :question_number => q.question_number, 
                                        :level => @heat.level
                                        ).id, 
                                   :heat => @heat,
                                   :user => current_user
                                   ) %>
                              Finished! | <%= link_to "Attempt again >", heat_question_path(@heat.slug, q.question_number), target: "_blank" %>
                         <% else %>
                              <%= link_to "View this question >", heat_question_path(@heat.slug, q.question_number), target: "_blank" %>
                         <% end %>

                    </td>
               </tr>
          <% end %>
     </tbody>
</table>