<h1><%= @heat.contest.name %> | <%= @heat.name %> &mdash; <%= @heat.level.name %> | Leaderboard</h1>

<p><%= link_to "< Back to heat", heat_path(@heat) %></p>

<table>
     <thead>
          <tr>
               <th>Rank</th>
               <th>Player</th>
               <th>Score</th>
               <th>Time Score</th>
          </tr>
     </thead>
     <tbody>
          <% @aggr.sort_by { |score| [-score[:score], -score[:timescore]] }.each_with_index do | scoreobj, index | %>
               <tr>
                    <td><%= (index+1).to_s %></td>
                    <td><%= scoreobj[:name] %></td>
                    <td><%= scoreobj[:score].to_s %></td>
                    <td><%= scoreobj[:timescore].to_s %></td>
               </tr>
          <% end %>
     </tbody>
</table>