<!DOCTYPE html>
<html>
	<head>
		<title>BlockJam</title>

	<!--
	
	Hello there, explorer!
	You 

	@sumukhprasad

	 -->

		<meta name="viewport" content="width=device-width,initial-scale=1">
		<meta name="theme-color" content="">


		<%= csrf_meta_tags %>
		<%= csp_meta_tag %>

		<%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
		<%= javascript_importmap_tags %>
	</head>

	<body>

	<%= render :partial => "layouts/navbar" %>

	<main>
		<% if notice %>
			<p class="alert alert-success"><%= notice %></p>
		<% end %>
		<% if alert %>
			<p class="alert alert-danger"><%= alert %></p>
		<% end %>
		
		<%= yield %>
	</main>

	<%= render :partial => "layouts/envsash" %>

	</body>
</html>
